.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 6.25rem 0;
  color: #000;
  text-shadow: 1px 1px 3px #000;
}

.intro-header.big-img .post-heading .post-meta {
  color: #000;
}
